---
layout: default
title: Home
---
  {% include header-home.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center">

          <p class="text-secondary color" style="text-align: justify;">📺 📹 <a href="{{site.baseurl}}/videos"><u><strong>The links to the virtual rooms</strong></u></a> allow you to follow all the different open classes.</p>
          <p class="text-secondary color" style="text-align: justify;">📺 📹 There’s one room for the common events - <a href="{{site.baseurl}}/keynote">keynote lectures by Elena Pierazzo and Fabio Vitali</a> - and one room for each strand. Restricted classes will take place in different virtual rooms and are only accessible to the previously selected students. 📣 <strong>Disclaimer</strong>: Please note that open classes will be recorded and the videos will be published online in our YouTube channel. <strong>The Virtual Summer Camp is entirely free of charge</strong>. </p>
          <p class="text-secondary color" style="text-align: justify;">The virtual summer camp is organised by the <a href="https://www.unive.it/vedph">Venice Centre for Digital and Public Humanities</a> and includes four different strands: <em>Digital Textual Scholarship</em>, <em>Digital and Public History Digital</em>, <em>Digital and Public Art History</em>, <em>Digital Archaeology and its Public</em>.
          </div>
          {% for category in site.main_categories %}
            {% for p in site.pages %}
              {% if p.category == category and p.subcategory == undefined %}
          <div class="column col-4 col-md-6 col-sm-12">
            <a href="{{ site.baseurl }}/{{ category | slugify }}">
              <div class="card card-link">
                <div class="card-body text-center my-4">
                  <h5 class="text-bold">{{ p.title }}</h5>
                </div>
              </div>
            </a>
          </div>
              {% endif %}
          {% endfor %}
          {% endfor %}

          {% include browse-materials.html %}
        </div>
      </div>
    </div>
