
<div class="column col-12 text-center mt-16">
  <h4>Do you want to browse slides and materials?</h4>
</div>
<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>Where to find materials</h5>
  <a class="help_button" href="{{ site.baseurl }}/materials">Materials, slides and tools<i class='uil uil-arrow-right arrow-hover'></i></a>
</div>

<div class="column col-4 col-sm-12 p-8 mb-8 col-mx-auto">
  <h5>Twitter</h5>
  <a class="help_button" href="https://twitter.com/venicedph" target="_blank">Feel free to tweet at us if you have suggestions. <i class='uil uil-arrow-right arrow-hover'></i></a>
</div>
