---
layout: category
category: programme
title: Programme
---

<div>
  <p class="text-secondary color" style="text-align: justify;">📺 📹 <a href="{{site.baseurl}}/videos"><u><strong>The links to the virtual rooms</strong></u></a></p>
  
  <h4>Monday, 6  July</h4>
  <p class="text-secondary color" style="text-align: justify;"><strong>11:00-11:45</strong> - Welcome, <strong>Opening Keynote by Elena Pierazzo</strong>: <em>What is Digital Humanities? An historical and sociological perspective</em> [plenary, open] [<a href="{{site.baseurl}}/keynote">read the abstract</a>]
  <p class="text-secondary color" style="text-align: justify;">
  <strong>Afternoon</strong>: strand activities
  </p>

  <h4>Tuesday, 7 July - Wednesday, 8 July - Thursday, 9 July</h4>
  <p class="text-secondary color" style="text-align: justify;"><strong>Morning and afternoon</strong>: strand activities</p>

  <h4>Friday, 10 July</h4>
  <p class="text-secondary color" style="text-align: justify;"><strong>Morning</strong>: strand activities</p>
  <p class="text-secondary color" style="text-align: justify;"><strong>15:00-15:45</strong> - Farewell, <strong>Closing Keynote by Fabio Vitali</strong>: <em>NPOV considered harmful (or: can we make Digital Cultural Heritage more interesting?)</em> [plenary, open] [<a href="{{site.baseurl}}/keynote">read the abstract</a>; <a href="{{site.baseurl}}/materials/vitali/index.html">materials</a>]</p>

  <h2>Strand activies:</h2>

  </div>

{% for p in site.pages %}
  {% if p.subcategory == "programme" %}
    {% include card.html %}
  {% endif %}
{% endfor %}
